.premiumButton {
    display: flex;
    margin-bottom: 5px;
}

.rzpButton {
    position: fixed;
    top: 1rem;
    right: 0;
}

.downloadexpense {
    margin-left: 5px;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(46, 238, 255);
}

#rzpButton {
    margin: 7px;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(255, 233, 107);
}

.leaderbordbtn {
    margin-left: 5px;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(46, 238, 255);
}

.list {
    margin-top: 2%;
    align-items: center;
    display: flex;
}
.title {
    height: 5%;
    width: 20%;
    align-items: center;
}

.card-body {
    padding: 2%;
    width: 100%;
    display: grid;
}

.row{
    --bs-gutter-x: 1rem;
}

.card-title {
    align-self: center;
    font-size: x-large;
    font-weight: bolder;
    color: aqua;
}

.expenceList {
    width: 70%;
}

ul {
    padding-left: 0rem;
}

.leaderbordList {
    margin-left: 10px;
}

li {
    margin-top: 2px;
    display: block;
    background-color: #afafaf;
    padding: 5px 10px;
    font-size: medium;
    border-radius: 5px;
}