.navBar {
    height: 5%;
    display: flex;
}

.title {
    margin-left: 38%;
    height: 5%;
    color: darkturquoise;
}

.repoBtn, a {
    background-color: rgb(215, 215, 213);
    border-radius: 5px;
    font-size: larger;
    height: 2%;
    width: 4%;
    padding: 1%;
    margin-left: auto;
    border: none;
    cursor: pointer;
    outline: none;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: 70%;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #afafaf;
    padding: 5px 10px;
    font-size: xx-large ;
    border-radius: 5px;
}

.liBtn {
    background-color: #FFA500;
    font-size: medium;
    border-radius: 5px;
    padding: 8px 12px;
    min-width: 100px;
    margin-left: 10px;
    box-sizing: border-box;
    border: none;
}



/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
    .navBar {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    
    .title {
        margin-left: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .repoBtn, a {
        height: auto;
        width: 50%;
        font-size: medium;
        margin: 10px 0;
    }
    
    .list li {
        height: auto;
        width: 90%;
        font-size: large;
        margin: 10px 0;
        padding: 10px;
    }
    
    .liBtn {
        /* font-size: large; */
        margin: 3px 0;
    }

    a.liBtn {
        box-sizing: content-box;

    }
}